# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.backend.example

# Custom Docker configuration
scripts/docker/docker.config.sh

# Don't ignore the symlink
!.env

.env

test-results/
