networks:
  textmate-network:
    driver: bridge

services:
  nginx:
    extends:
      file: ./docker/services.compose.yml
      service: nginx
    depends_on:
      - textmate-frontend
    networks:
      - textmate-network

  languagetool:
    extends:
      file: ./docker/services.compose.yml
      service: languagetool
    networks:
      - textmate-network

  llm:
    extends:
      file: ./docker/services.compose.yml
      service: llm
    networks:
      - textmate-network

  textmate-backend:
    extends:
      file: ./docker/services.compose.yml
      service: textmate-backend
    networks:
      - textmate-network

  textmate-frontend:
    extends:
      file: ./docker/services.compose.yml
      service: textmate-frontend
    networks:
      - textmate-network