networks:
  textmate-network:
    driver: bridge

services:
  nginx:
    image: nginx:alpine
    ports:
      - '8090:80'
      - '8443:443'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - textmate-frontend
    networks:
      - textmate-network

  languagetool:
    hostname: languagetool
    build:
      context: https://github.com/DCC-BS/text-mate-backend.git#main:docker/languagetool
      dockerfile: ./Dockerfile
    expose:
      - "8010"
    environment:
      - langtool_languageModel=/ngrams # OPTIONAL: Using ngrams data
      - Java_Xms=512m
      - Java_Xmx=2g
    volumes:
      - ~/.cache/languagetool:/ngrams
    networks:
      - textmate-network

  llm:
    platform: linux/amd64
    image: vllm/vllm-openai:v0.13.0
    container_name: llm
    expose:
      - "8000"
    env_file: ".env.backend"
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    ipc: host
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface
    command: >
      --port 8000
      --model Qwen/Qwen3-32B-AWQ
      --max-model-len 40960
      --gpu-memory-utilization 0.75
      --enable-auto-tool-choice
      --tool-call-parser hermes
      --tensor-parallel-size 2
      --enable-reasoning
      --reasoning-parser deepseek_r1
    networks:
      - textmate-network

  textmate-backend:
    build:
      context: https://github.com/DCC-BS/text-mate-backend.git
      dockerfile: ./Dockerfile
    expose:
      - "8000"
    env_file:
      - .env.backend
    networks:
      - textmate-network

  textmate-frontend:
    container_name: textmate-frontend
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file: ".env"
    environment:
      - NUXT_AZURE_AD_CLIENT_ID=${AZURE_AD_CLIENT_ID:-}
      - NUXT_AZURE_AD_TENANT_ID=${AZURE_AD_TENANT_ID:-}
      - NUXT_AZURE_AD_CLIENT_SECRET=${AZURE_AD_CLIENT_SECRET:-}
      - NUXT_AZURE_AD_API_CLIENT_ID=${AZURE_AD_API_CLIENT_ID:-}
      - AUTH_ORIGIN=http://localhost:8090/api/auth
      - NUXT_API_URL=http://textmate-backend:8000
      - PORT=3000
    expose:
      - 3000
    networks:
      - textmate-network