services:
    nginx:
        image: nginx:alpine
        ports:
            - "8090:80"
            - "8443:443"
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro

    languagetool:
        hostname: languagetool
        build:
            context: https://github.com/DCC-BS/text-mate-backend.git#main:docker/languagetool
            dockerfile: ./Dockerfile
        expose:
            - "8010"
        environment:
            - langtool_languageModel=/ngrams # OPTIONAL: Using ngrams data
            - Java_Xms=512m
            - Java_Xmx=2g
        volumes:
            - ${HOME}/.cache/languagetool:/ngrams

    llm:
        platform: linux/amd64
        image: vllm/vllm-openai:v0.11.2
        container_name: llm
        expose:
            - "8000"
        environment:
            - HUGGING_FACE_HUB_TOKEN=${HUGGING_FACE_HUB_TOKEN}
            - HUGGING_FACE_CACHE_DIR=${HUGGING_FACE_CACHE_DIR}
        # env_file: ".env.backend"
        runtime: nvidia
        deploy:
            resources:
                reservations:
                    devices:
                        - driver: nvidia
                          count: all
                          capabilities: [gpu]
        ipc: host
        volumes:
            - ${HOME}/.cache/huggingface:/root/.cache/huggingface
        command: >
            Qwen/Qwen3-32B-AWQ
            --port 8000
            --max-model-len 10000
            --max-num-seqs 1
            --gpu-memory-utilization 0.75
            --enable-auto-tool-choice
            --tool-call-parser hermes
            --tensor-parallel-size 2
            --reasoning-parser deepseek_r1

    textmate-backend:
        image: ghcr.io/dcc-bs/text-mate-backend:latest
        expose:
            - "8000"
        environment:
            - OPENAI_API_BASE_URL=${OPENAI_API_BASE_URL}
            - LLM_KEY=${LLM_KEY}
            - LLM_MODEL=${LLM_MODEL}
            - LLM_HEALTH_CHECK_URL=${LLM_HEALTH_CHECK_URL}
            - AZURE_CLIENT_ID=${AZURE_CLIENT_ID}
            - AZURE_TENANT_ID=${AZURE_TENANT_ID}
            - AZURE_FRONTEND_CLIENT_ID=${AZURE_FRONTEND_CLIENT_ID}
            - SCOPE_DESCRIPTION=${SCOPE_DESCRIPTION}
            - HMAC_SECRET=${HMAC_SECRET}
            - LOG_LEVEL=${LOG_LEVEL}
            - PORT=${PORT}
            - LANGUAGE_TOOL_PORT=${LANGUAGE_TOOL_PORT}
            - LANGUAGE_TOOL_API_URL=${LANGUAGE_TOOL_API_URL}

    textmate-frontend:
        container_name: textmate-frontend
        build:
            context: ..
            dockerfile: ./Dockerfile
        # env_file: "../.env"
        environment:
            - NUXT_AZURE_AD_CLIENT_ID=${AZURE_AD_CLIENT_ID:-}
            - NUXT_AZURE_AD_TENANT_ID=${AZURE_AD_TENANT_ID:-}
            - NUXT_AZURE_AD_CLIENT_SECRET=${AZURE_AD_CLIENT_SECRET:-}
            - NUXT_AZURE_AD_API_CLIENT_ID=${AZURE_AD_API_CLIENT_ID:-}
            - AUTH_ORIGIN=http://localhost:8090/api/auth
            - NUXT_API_URL=http://textmate-backend:8000
            - PORT=3000
        expose:
            - 3000
